html,body {
    height: 100vh;
    width: 100vh;
}

.events-screen {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.rbc-calendar {
    height: 100%;
}

/* boton FABS*/
.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
}